<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--    <link-->
<!--      rel="stylesheet"-->
<!--      href="https://unpkg.com/@shopify/polaris@4.13.1/styles.min.css"-->
<!--      />-->
<!--  </head>-->

  <body>
    <header class="main">
      <%= image_tag 'logo.png', alt: 'The Pragmatic Book-shelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <ul>
          <li><%= link_to 'Home', store_index_path %></li>
          <li><%= link_to 'Questions', '#' %></li>
          <li><%= link_to 'News', '#' %></li>
          <li><%= link_to 'Contact', '#' %></li>
        </ul>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
